:root {
    --clr-primary: #fff257;
    --clr-secondary: #33793f;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--clr-primary);
}

h1,
h2,
h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}

p {
    font-family: "Roboto", sans-serif;
}

#root {
    display: flex;
}

#header {
    justify-content: flex-end;

    background-color: transparent;

    height: 60px;
    position: fixed;
    right: 20px;
    top: 20px;
}

#aside {
    position: sticky;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: var(--clr-secondary);
    display: flex;
    flex-direction: column;
}

#main {
    display: flex;
    flex-wrap: wrap;

    color: var(--clr-secondary);
    max-width: 1280px;

    gap: 100px 20px;
}

.card {
    border: solid 1px var(--clr-secondary);
    position: relative;
    padding: 20px 20px 60px;
    display: flex;
    flex-direction: column;
}

.card p {
    
}

.card h1 {
    font-size: 36px;
}

.newspaper {
    cursor: pointer;
    color: var(--clr-primary);
    font-size: 36px;
}

.menu {
    cursor: pointer;
    color: var(--clr-primary);
    background-color: var(--clr-secondary);
    border-radius: 50%;
    border: none;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.menu span {
    cursor: pointer;
}

.price {
    background-color: var(--clr-secondary);
    color: var(--clr-primary);
    font-family: "Montserrat", sans-serif;
    position: absolute;
    right: -20px;
    top: -10px;
    font-size: 12px;
    letter-spacing: 0.2em;
}

.sub {
    font-size: 12px;
    height: 30px;
    position: absolute;
    bottom: 0;
    background-color: transparent;
    width: 100%;
    border: none;
    cursor: pointer;
}

.sub:hover {
    background-color: var(--clr-secondary);
}